.h1 {
	font-size: large;
	color: #93BE52;
}

.page {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}

input {
	background-color: white;
}

body {
	background-color: #F2F2F2;
}

.pageheader {
	border-radius: 25px;
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 2%;
	padding-right: 1%;
	margin-right: 50px;
	font-family: "Berlin Sans FB";
	font-size: 290%;
	color: #000000;
	top: 3%;
	left: 26%;
	height: 8%;
	width: 71%;
	position: relative;
	background-color: white;
	text-align: center;
	border: 2px dashed #33bdef;
	position: absolute;
}

.logo {
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 1%;
	margin-right: 50px;
	position: absolute;
	overflow: auto;
	top: 3%;
	left: 4%;
	width: 20%;
	height: 10%;
	background-image: url("../images/CHU-Toulouse.jpg");
	 background-repeat: no-repeat;
	
}



.espace {
	margin-left: 3em
}
textarea {
	vertical-align: middle;
}

.menu {
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 1%;
	margin-right: 50px;
	font-family: "Corbel";
	position: absolute;
	font-size: medium;
	overflow: auto;
	top: 20%;
	left: 2%;
	width: 20%;
	height: 62%;
	background-color: white;
	border: 3px solid #33bdef;
	text-align: left;
	border-radius: 25px;
	
}

.etat {

	padding-left: 1%;
	padding-right: 1%;
	margin-right: 50px;
	font-family: "Corbel";
	position: absolute;
	color: #000000;
	overflow: auto;
	top: 90%;
	left: 2%;
	width: 20%;
	height: 7%;
	background-color: white;
	border: 2px dashed #8ac403;
	text-align: center;
	border-radius: 25px;
	font-size: small;
}

.content {
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 1%;
	font-family: "Corbel";
	position: absolute;
	font-size: small;
	overflow: auto;
	min-width: 200px;
	top: 20%;
	left: 26%;
	width: 71%;
	height: 73%;
	background-color: white;
	border: 3px solid #8ac403;
	text-align: center;
	border-radius: 25px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myMenuButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myMenuButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myMenuButton:active {
	position:relative;
	top:1px;
}

.alert_box *{
    margin: 0;
    padding: 0;
}

/* BOX STYLE */
.alert_box{
    color:#333;
    font-size:0.85em;
    font-family:verdana;
    background:ghostwhite;
    border:1px solid #fff;
    width:300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    
}

/* BOX TITLE STYLE */
.alert_box h1{
    text-transform:uppercase;
    padding:10px;
    border-bottom: 1px solid #ddd;
    font-size:1em;
    position:relative; 
}

/* BOX TITLE CLOSE ICON */
.alert_box h1 span{
    cursor:pointer;
    top:2px;
    right:10px;
    position:absolute;
}

/* BOX TEXT STYLE */
.alert_box p{
    border-top:1px solid #fefefe;
    padding:15px;
}

/* BOX BUTTON STYLE */
.alert_box .button{
      width:100px;
    margin-top:20px;
    margin:5px auto 15px auto;
    display:block;
    background-color: #EF6647;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF6647), color-stop(100%, #E14D2C));
    background-image: -webkit-linear-gradient(top, #EF6647, #E14D2C);
    background-image: -moz-linear-gradient(top, #EF6647, #E14D2C);
    background-image: -ms-linear-gradient(top, #EF6647, #E14D2C);
    background-image: -o-linear-gradient(top, #EF6647, #E14D2C);
    background-image: linear-gradient(top, #EF6647, #E14D2C);
    border: 1px solid #E14D2C;
    border-bottom: 1px solid #d04121;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #b73b20;
    padding:5px 10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    cursor:pointer;
    
}

.alert_box button:hover{

}


/* CSS TO APPLY WHEN BOX IS OPEN AND USER CLICK OUTSIDE IT */
/* ANIMATION */
@-webkit-keyframes vibrate{
    from {
        -webkit-transform: rotate(-20deg);
    }
    to{
        -webkit-transform: rotate(20deg);
    }
}
@-moz-keyframes vibrate{
    from {
        -moz-transform: rotate(-20deg);
    }
    to{
        -moz-transform: rotate(20deg);
    }
}
@-o-keyframes vibrate{
    from {
        -o-transform: rotate(-20deg);
    }
    to{
        -o-transform: rotate(20deg);
    }
}
@keyframes vibrate{
    from {
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(20deg);
    }
}
/* BOX IMPORTANT STYLE */
.alert_box_important{
    -webkit-animation: vibrate 10000ms;
    -moz-animation: vibrate 10000ms;
    -o-animation: vibrate 10000ms;
    animation: vibrate 10000ms;
}

a.infobulle{
     color:#000000;               
}

a.infobulle:hover,a.infobulle:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
     cursor:help;
}

a.infobulle span.infobulle{
     position:absolute;
     margin-top:23px;
     margin-left:-35px;
     color:#FFFFFF;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     transform:scale(0) rotate(-12deg);
     transition:all .25s;
     opacity:0;               
}

a.infobulle:hover span.infobulle, a.infobulle:focus span.infobulle{
     transform:scale(1) rotate(0);
     opacity:1;     
}